{% extends 'base.html.twig' %}

{% block title %}Éditer Topics{% endblock %}

{% block body %}
{% include 'main/header.html.twig' %}
    <h1>Edit Topics</h1>

    {{ include('topics/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('topics/_delete_form.html.twig') }}

    <a href="{{ path('topics_index') }}">Retour à la liste des topics</a>
{% endblock %}
