{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Topic{% endblock %}

{% block body %}
    {% include 'main/header.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Créer un nouveau topic</h1>
            </div>
        </div>
    </div>
    

    {{ include('topics/_form.html.twig') }}

    <a href="{{ path('topics_index') }}">🠐 Retour à la liste des topics</a>
{% endblock %}
