{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Topic{% endblock %}

{% block body %}
    {% include 'main/header.html.twig' %}

    <div class="container">
        <div class="row align-items-center flex-column">
            <div class="col-12 text-center my-4">
                <h1>Créer un nouveau topic</h1>
            </div>

            <div class="col-12 col-md-10 col-lg-8 col-xxl-6">
                {{ include('topics/_form.html.twig') }}
            </div>
        </div>
    </div>
    

    
{% endblock %}
