{% extends 'base.html.twig' %}

{% block title %}New Topics{% endblock %}

{% block body %}
    <h1>Create new Topics</h1>

    {{ include('topics/_form.html.twig') }}

    <a href="{{ path('topics_index') }}">back to list</a>
{% endblock %}
