<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                Created with ❤️ by students <a target="_blank" href="https://github.com/ASelmane/">Adrien Selman</a> &amp; <a href="https://etienneleriche.fr/">Etienne Leriche</a>
            </div>
        </div>
    </div>
</footer>

