{% extends 'base.html.twig' %}

{% block title %}ForumLearning - Dashboard{% endblock %}

{% block body %}
{% include 'main/header.html.twig' %}


<div class="container">

    <div class="row mt-4">
        <div class="col-12">
            <h1>Dashboard</h1>
            <h2 class="h5 violet">Les derniers topics</h2>
        </div>
    </div>

    <div class="row">
        {% include 'topics/index.html.twig' %}
    </div>
    

</div>

{% endblock %}
