{% extends 'base.html.twig' %}

{% block title %}Ajouter Commentaires{% endblock %}

{% block body %}
    {% include 'main/header.html.twig' %}

    <div class="container">
        <div class="row align-items-center flex-column">
            <div class="col-12 text-center my-4">
                <h1>Ajouter Commentaires - Topics {{app.request.get('id')}}</h1>
            </div>

            <div class="col-12 col-md-10 col-lg-8 col-xxl-6">
                {{ include('commentaires/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
