/* Variables */

$violet: #6C63FF;
$cian: #1EC1B6;
$gray: #818181;
$dark-blue: #1E3E4E;
$light-gray: #E1E1E1;
$very-light-gray: #f8f8f8;
$light-blue: #E8F7FF;

$primary: $violet;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

$font-content: "Poppins", sans-serif;

