@import "global";
@import "login";
@import "bootstrap/bootstrap";

/* Styles */

body {
    font-family: $font-content;
    background-color: $very-light-gray;
    color: $dark-blue;
    a {
        &:hover, &:focus {
            color: darken($violet, 7%);
            text-decoration: none;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
    background-color: $dark-blue;
    &.display {
        animation: hamburger 0.55s 0s ease;
        display: block;
        transform: translateY(0);
        opacity: 1;
    }
    &.disappear {
        transition: all ease 0.58s
    }
}

@keyframes hamburger {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        height: 100%;
    }
}

@media screen and (max-width: 995px) {
    nav.menu-mobile {
        display: flex;
        width: 100%;
        height: 100%;
        place-items: center center;
        ul {
            list-style: none;
            padding: 25px 25px;
            display: flex;
            width: 100%;
            height: auto;
            margin-top: -100px;
            justify-content: center;

            font-size: 1.95rem;
            li {
                display: inline-block;
                padding: 8px 0;
                a {
                    color: white;
                    display: block;
                    &:nth(list-child) {
                        display: inline;
                    }
                }
            }
        }
        &.display {
            display: block;
            position: relative;
            border: 1px solid red;
            > ul {
                color: red;
            }
        }
    }
}

/* Header */
#main-header {
    @include material-shadow1;
    background-color: white;
    position: relative;
    z-index: 999999;
    nav {
        a.navbar-brand {
            font-weight: bold;
            color: $dark-blue;
            span.span-logo {
                color: $violet;
            }
        }
        li {
            a {
                color: $dark-blue;
                &:hover, &:focus {
                    color: $violet;
                }
                i {
                    font-size: 1.45rem;
                }
            }
            &.active a {
                font-weight: 500;
                color: $violet;
            }
        }
    }
}

#search-input {
    width: 298px;
}

.btn-search {
    padding: 8px 10px;
}

@media screen and (min-width: 576px){
    #search-input {width: 345px}
}

.btn.btn-outline-primary {
    border: 1px solid $primary !important;
    color: $primary !important;
    background-color: transparent !important;
}

.blue {
    color: $cian;
}

.violet {
    color: $violet;
}

/* Topic box */

.topics-id {
    position: absolute;
    z-index: -1;
    top: -50px;
    left: -60px;
    color: lighten($light-gray, 3%);
    font-size: 4.2rem;
    &::before {
        content: "0";
    }
}

.topic-box {
    @include material-shadow1;
    width: 100%; height: 100%;
    .topic-title {
        font-size: 1.25rem;
        font-weight: 500;
    }
    .posted-by {
    position: relative;
    color: $gray;
    font-size: 0.71rem;
    text-transform: none;
    top: 0; 
    }
    .topic-text {
        font-size: 1rem;
        padding: 1.3rem;
        display: block;
        margin-top: 1.3rem;
    }
}

.topic-text-show {
    position: relative;
    z-index: 0;
    &::before {
        font-family: "Material Icons";
        content: "format_quote";
        display: block;
        position: absolute;
        top: -15px;
        left: -18px;
        color: $light-gray;
        font-size: 3rem;
        z-index: -1;
    }
}

.metas {
position: relative;
color: $gray;
display: block;
font-size: 0.71rem;
margin-top: -8px; 
}

textarea.form-control {
    display: block;
    min-height: 250px;
}

footer {
    background-color: $light-gray;
    margin-top: 55px;
    padding: 12px 0 12px 0;
    border-top: darken($light-gray, 5%);
}

/* Parallax effect */
.container-parallax {
    height: 33vh;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #scene {
     & > *:nth-child(1) { //browser
      margin-top: 33px;
      width: 280px;
    }
    & > *:nth-child(2) { //file
        margin-top: 150px;
        margin-left: 80px;
        width: 90px;
      }
    & > *:nth-child(3) { //person
      margin-top: 120px;
      margin-left: 200px;
      width: 120px;
    }
    
  }