{% extends 'base.html.twig' %}

{% block title %}ForumLearning - Profil{% endblock %}

{% block body %}
{% include 'main/header.html.twig' %}

<div class="container">

    <div class="row mt-4 justify-content-center">
        <div class="col-12 text-center">
            <h1>Modification de votre compte "{{ app.user.pseudo }}"</h1>
        </div>

        <div class="col-12 col-md-10 col-lg-8 col-xxl-6 mt-4">
            {{ form(form) }}
        </div>
    </div>
    
</div>
{% endblock %}