{% extends 'base.html.twig' %}

{% block title %}ForumLearning - Profil{% endblock %}

{% block body %}
{% include 'main/header.html.twig' %}

<div class="container">

    <div class="row mt-4">
        <div class="col-12">
            <h1 class="text-uppercase">Modification de votre compte</h1>
            <h2 class="h5 violet">{{ app.user.pseudo }}</h2>
        </div>

        <div class="col-12 col-md-10 col-lg-8 col-xxl-6 mt-4">
            {{ form(form) }}
        </div>
    </div>
    
</div>
{% endblock %}